body {
  overflow-x: hidden;
  font-family: "Montserrat";
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #252525;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: rgb(52,126,235);
}
a:hover,
a:focus,
a:active,
a.active {
  color: rgb(52,126,235);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1.2em;
  margin: 0 0 0.5em;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #252525;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary-container {
 display: flex;
 justify-content: end;
}
.btn-primary {
  color: #252525;
  background-color: white;
  border-color: white;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;

}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #252525;
  border-color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: white;
  border-color: #252525;
}
.btn-primary .badge {
  color: #252525;
  background-color: white;
}
.btn-xl {
  background-color: #181818;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  min-width: 190px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #757575;
}
.btn-xl:active,intro-heading
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #252525;
  border-color: #252525;
}
.btn-xl .badge {
  color: #252525;
  background-color: white;
}

.navbar-default {
  background-color: #222222;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #252525;
  font-family: "Montserrat";
  padding-top: 5px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #252525;
}
.navbar-default .navbar-collapse {
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.logo-img {
  height: 30px;
  margin-top: 5px;
  transition: transform 0.6s ease-in-out;
}

.logo-img:hover {
  transform: rotate(-46deg);
}


.navbar-default .navbar-toggle {
  background-color: #252525;
  border-color: #252525;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #252525;;
}
.navbar-default .nav li a {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
}

.navbar-default .nav li a:hover,b
.navbar-default .nav li a:focus {
  color: rgb(87,87,87);
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: #252525;
  background-color: white;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #252525;
  background-color: white;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 65px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 36px;
    padding: 5px 20px;
    margin-top: 11px;
  }
  .navbar-default.navbar-shrink {
    background-color: #252525;
    opacity: 85%;
    padding: 20px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
header {
  background-color: #252525;
  background-repeat: none;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: left;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.intro-heading-container {
  display: flex;
  flex-direction: column;
}

.intro-heading-container {
  display: flex;
  flex-direction: column;
}

.img-container-naxo-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px 40px 20px;
  gap: 14px;
}

.img-container-naxo-mobile img {
  border-radius: 5px;
}

.intro-text .intro-heading-container .intro-text {
  margin-top: 10px;
}

.intro-text.intro-heading-container .intro-heading {
  margin-top: 10px;
}


@media (min-width: 1200px) {

  .navbar-default .navbar-collapse {
    border: none;
  }

  .intro-heading-container {
    display: flex;
    flex-direction: column;
    padding-right: 365px;
  }

  .img-container-naxo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 24%;
    width: 24%;
  }

  .img-container-naxo .img-responsive:hover {
    /* transform: scale(1.5) rotate(360deg); */
    transform: scale(1.5);
    transition: transform 1s;
  }

  .img-container-naxo img {
    width: calc(50% - 6px);
    margin-bottom: 12px;
    border-radius: 5px;
  }

  .img-container-naxo img:nth-child(odd) {
    margin-right: 10px;
    margin-left: 10px;
  }

  .img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}


.modal-content .img-responsive:hover {
    transform: none;
}

.btn-primary {
  display: none;
}

.portfolio-modal .modal-content {
  margin: 80px 80px;
}

}

@media (max-width: 1199px) {

  .img-container-naxo {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .img-container-naxo img {
    width: 100%;
    margin-bottom: 12px;
    border-radius: 5px;
  }

  .intro-heading-container {
    text-align: start;
  }

  .intro-lead-in {
    text-align: start;
    margin-bottom: 20px;
  }
}


@media (min-width: 500px) {

  .img-container-naxo-mobile {
    display: none;
  }

  .img-container-naxo img {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }

  .img-container-naxo img:nth-child(odd) {
    margin-right: 10px;
  }

}


header .intro-text .intro-lead-in {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat";
  text-transform: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 16px;
}



@media (min-width: 768px) {
  header .intro-text {
    padding-top: 250px;
    height: 100vh;
  }
  header .intro-text .intro-lead-in {
    font-family: "Montserrat";
    color: white;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7em;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat";
    font-size: calc(38px);
    line-height: 80px;
    margin-bottom: 50px;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.5em;
  }
}
section {
  padding: 150px 0;
}
section h2.section-heading {
  color: #252525;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h2.section-heading-portfolio {
  color: white;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  color: white;
  font-size: 16px;
  font-family: "Montserrat";
  text-transform: none;
  font-style: none;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

@media (max-width: 800px) {
  .btn-xl {
    display: flex;
    justify-content: center;
    background-color: #181818;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: #252525;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 20%;
  transition: all ease 0.20s;
  -webkit-transition: all ease 3.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 85%;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  padding: 20px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
  height: 18px;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Montserrat";
  font-size: 14px;
  height: 14px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 100;
  background-color: white;
  color: #252525;
  border-radius: 100%;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

.wait{
  cursor: wait;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}

section#contact {
  background-color: #252525;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 20px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 21px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #252525;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact .text-danger {
  color: #252525;
}
footer {
  padding: 65px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #252525;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  color: white;
  background-color: #222222;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-color: #252525;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 8px;
  min-height: 100%;
  padding: 50px 6px;
  text-align: start;
  color: white;
}

.triloco-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
  color: white;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
  color: white;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Montserrat";
  font-style: italic;
  font-size: 16px;
  color: white;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
  color: white;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
  color: white;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 25px;
  width: 2px;
  margin-left: 55px;
  background-color: white;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 25px;
  width: 2px;
  background-color: white;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #252525;
}
::selection {
  text-shadow: none;
  background: #252525;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}